.events-list {
  min-height: 65px;
}

.event-details {
  min-height: 80vh;
}

.bootcards-richtext>.panel-body {
  font-size: 16px;
  max-width: 968px;
  padding: 25px 35px;
}

.bootcards-richtext>.panel-body img {
  margin: 15px 0;
}

.col-sm-8 .panel-heading .panel-title {
  padding-left: 20px;
}

.panel-heading .panel-title {
  font-weight: 700;
  margin-top: 15px;
}

.event-card .panel-body img {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
  max-width: 80%;
}

.separator {
  margin: -1px 15px;
  padding: 15px 0 10px;
}

.separator-top {
  margin-right: 15px;
  padding: 15px 0 10px;
}

a.list-group-item::before {
  display: none;
}

.list-group-item.events-list.separator:hover {
  margin-right: 0;
}

.panel .panel-heading .pull-right {
  margin-top: -36px;
  margin-right: 10px;
  padding: 6px 25px;
}
