/* csslint ignore:start */

@font-face {
  font-family: Amaranth-Regular;
  src: url(../fonts/Amaranth-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Roboto-Thin;
  src: url(../fonts/Roboto-Thin.ttf) format('truetype');
}


/* csslint ignore:end */

.main {
  margin: 8px;
  text-align: center;
}


/* https://github.com/CSSLint/csslint/wiki/Disallow-qualified-headings */

h1 {
  color: #949494;
  font-family: "Amaranth-Regular";
}

.main>p {
  text-align: justify;
}

.wrapper {
  color: #454545;
  margin: auto;
  max-width: 968px;
}
