mixin meta(name,content)
  meta(name=name, content=content)/

mixin metap(property,content)
  meta(property=property, content=content)/

mixin link(rel, href)
  link(rel=rel, href=href, type!=attributes.type, sizes!=attributes.sizes, color!=attributes.color)/

mixin script(src)
  script(type="text/javascript", src=src)
