extends ../layout.pug

block head
  title= "FSCI Events"

block content
  .container.bootcards-container.push-right
    // This is where you come in...
    // I've added some sample data below so you can get a feel for the required markup
    .row
      // left list column
      #list.col-sm-12.bootcards-list(data-title='Contacts')
        .panel.panel-default
          .panel-body
            .search-form
              .row
                .col-xs-2.col-sm-8
                  | &nbsp;
                  //-.form-group
                    input.form-control(type='text', placeholder='Search Contacts...')
                    i.fa.fa-search
                .col-xs-5.col-sm-2
                  a.btn.btn-primary.btn-block(href='https://git.fosscommunity.in/community/fsci.org.in/tree/master/events/details' target='_blank')
                    i.fa.fa-plus
                    span Add
                .col-xs-5.col-sm-2
                  a.btn.btn-primary.btn-block(href='http://fsci.org.in')
                    i.fa.fa-plus
                    span Back
          // panel body
          .list-group
            // list of sample data
            for event in events
              a.list-group-item.events-list.separator(href='/events/' + event.id + '.html')
                img.img-rounded.pull-left(src=event.imgurl)
                h4.list-group-item-heading= event.name
                p.list-group-item-text!= event.when
          
          //- for event in sortedEvents
            h4.list-group-item-heading=event.id
