// http://realfavicongenerator.net/
+link('apple-touch-icon','/img/favicons/apple-touch-icon.png')(type='image/png',sizes='180x180')
+link('icon','/img/favicons/favicon-32x32.png')(type='image/png',sizes='32x32')
+link('icon','/img/favicons/favicon-16x16.png')(type='image/png', sizes='16x16')
+link('manifest','/img/favicons/manifest.json')
+link('mask-icon','/img/favicons/safari-pinned-tab.svg')(color='#5bbad5')
+link('shortcut icon','/img/favicons/favicon.ico')
+meta('apple-mobile-web-app-title','FSUG.IN')
+meta('application-name','FSUG.IN')
+meta('msapplication-config','/img/favicons/browserconfig.xml')
+meta('theme-color','#ffffff')
// http://realfavicongenerator.net/
