//- Mixins and Varibles
include ./settings/mixins
include ./settings/variables

doctype
html(lang='en')
  head
    include ./templates/head_inwrapper
    include ./templates/meta_seo
    include ./templates/meta_favicons
    block head
    include ./templates/css
  body
    block content
    include ./templates/js
